:root {
  /* colorPrimitives */
  --sds-color-slate-100: rgba(243, 243, 243, 1);
  --sds-color-slate-200: rgba(227, 227, 227, 1);
  --sds-color-slate-300: rgba(204, 204, 204, 1);
  --sds-color-slate-400: rgba(177, 177, 177, 1);
  --sds-color-slate-500: rgba(147, 147, 147, 1);
  --sds-color-slate-600: rgba(118, 118, 118, 1);
  --sds-color-slate-700: rgba(90, 90, 90, 1);
  --sds-color-slate-800: rgba(66, 66, 66, 1);
  --sds-color-slate-900: rgba(48, 48, 48, 1);
  --sds-color-slate-1000: rgba(36, 36, 36, 1);
  --sds-color-white-100: rgba(255, 255, 255, 0.05000000074505806);
  --sds-color-white-200: rgba(255, 255, 255, 0.10000000149011612);
  --sds-color-white-300: rgba(255, 255, 255, 0.20000000298023224);
  --sds-color-white-400: rgba(255, 255, 255, 0.4000000059604645);
  --sds-color-white-500: rgba(255, 255, 255, 0.699999988079071);
  --sds-color-white-600: rgba(255, 255, 255, 0.800000011920929);
  --sds-color-white-700: rgba(255, 255, 255, 0.8500000238418579);
  --sds-color-white-800: rgba(255, 255, 255, 0.8999999761581421);
  --sds-color-white-900: rgba(255, 255, 255, 0.949999988079071);
  --sds-color-white-1000: rgba(255, 255, 255, 1);
  --sds-color-brand-100: rgba(188, 200, 237, 1);
  --sds-color-brand-200: rgba(166, 182, 232, 1);
  --sds-color-brand-300: rgba(136, 158, 224, 1);
  --sds-color-brand-400: rgba(96, 126, 213, 1);
  --sds-color-brand-500: rgba(51, 86, 192, 1);
  --sds-color-brand-600: rgba(32, 55, 122, 1);
  --sds-color-brand-700: rgba(27, 46, 104, 1);
  --sds-color-brand-800: rgba(23, 39, 88, 1);
  --sds-color-brand-900: rgba(20, 33, 75, 1);
  --sds-color-brand-1000: rgba(17, 28, 64, 1);
  --sds-color-red-100: rgba(253, 232, 231, 1);
  --sds-color-red-200: rgba(253, 210, 207, 1);
  --sds-color-red-300: rgba(252, 178, 173, 1);
  --sds-color-red-400: rgba(243, 118, 105, 1);
  --sds-color-red-500: rgba(235, 34, 30, 1);
  --sds-color-red-600: rgba(191, 15, 12, 1);
  --sds-color-red-700: rgba(143, 11, 9, 1);
  --sds-color-red-800: rgba(105, 8, 6, 1);
  --sds-color-red-900: rgba(77, 10, 9, 1);
  --sds-color-red-1000: rgba(47, 6, 3, 1);
  --sds-color-yellow-100: rgba(255, 251, 235, 1);
  --sds-color-yellow-200: rgba(255, 241, 194, 1);
  --sds-color-yellow-300: rgba(255, 232, 163, 1);
  --sds-color-yellow-400: rgba(232, 185, 49, 1);
  --sds-color-yellow-500: rgba(229, 160, 0, 1);
  --sds-color-yellow-600: rgba(191, 106, 2, 1);
  --sds-color-yellow-700: rgba(151, 81, 1, 1);
  --sds-color-yellow-800: rgba(104, 45, 2, 1);
  --sds-color-yellow-900: rgba(82, 36, 4, 1);
  --sds-color-yellow-1000: rgba(64, 27, 0, 1);
  --sds-color-green-100: rgba(235, 255, 238, 1);
  --sds-color-green-200: rgba(207, 247, 211, 1);
  --sds-color-green-300: rgba(175, 244, 198, 1);
  --sds-color-green-400: rgba(133, 224, 163, 1);
  --sds-color-green-500: rgba(20, 174, 92, 1);
  --sds-color-green-600: rgba(0, 153, 81, 1);
  --sds-color-green-700: rgba(0, 128, 67, 1);
  --sds-color-green-800: rgba(2, 84, 45, 1);
  --sds-color-green-900: rgba(1, 64, 34, 1);
  --sds-color-green-1000: rgba(6, 44, 27, 1);
  --sds-color-black-100: rgba(12, 12, 13, 0.05000000074505806);
  --sds-color-black-200: rgba(12, 12, 13, 0.10000000149011612);
  --sds-color-black-300: rgba(12, 12, 13, 0.20000000298023224);
  --sds-color-black-400: rgba(12, 12, 13, 0.4000000059604645);
  --sds-color-black-500: rgba(12, 12, 13, 0.699999988079071);
  --sds-color-black-600: rgba(12, 12, 13, 0.800000011920929);
  --sds-color-black-700: rgba(12, 12, 13, 0.8500000238418579);
  --sds-color-black-800: rgba(12, 12, 13, 0.8999999761581421);
  --sds-color-black-900: rgba(12, 12, 13, 0.949999988079071);
  --sds-color-black-1000: rgba(12, 12, 13, 1);
  --sds-color-pink-100: rgba(252, 241, 253, 1);
  --sds-color-pink-200: rgba(250, 225, 250, 1);
  --sds-color-pink-300: rgba(245, 192, 239, 1);
  --sds-color-pink-400: rgba(241, 158, 220, 1);
  --sds-color-pink-500: rgba(234, 63, 184, 1);
  --sds-color-pink-600: rgba(215, 50, 168, 1);
  --sds-color-pink-700: rgba(186, 42, 146, 1);
  --sds-color-pink-800: rgba(138, 34, 111, 1);
  --sds-color-pink-900: rgba(87, 24, 74, 1);
  --sds-color-pink-1000: rgba(63, 21, 54, 1);
  --sds-color-gray-100: rgba(245, 245, 245, 1);
  --sds-color-gray-200: rgba(230, 230, 230, 1);
  --sds-color-gray-300: rgba(217, 217, 217, 1);
  --sds-color-gray-400: rgba(179, 179, 179, 1);
  --sds-color-gray-500: rgba(117, 117, 117, 1);
  --sds-color-gray-600: rgba(68, 68, 68, 1);
  --sds-color-gray-700: rgba(56, 56, 56, 1);
  --sds-color-gray-800: rgba(44, 44, 44, 1);
  --sds-color-gray-900: rgba(30, 30, 30, 1);
  --sds-color-gray-1000: rgba(17, 17, 17, 1);
  /* colors */
  --sds-color-text-brand-on-brand: rgba(239, 243, 255, 1);
  --sds-color-border-default-secondary: rgba(117, 117, 117, 1);
  --sds-color-background-danger-tertiary-hover: rgba(253, 210, 207, 1);
  --sds-color-icon-danger-on-danger-tertiary: rgba(143, 11, 9, 1);
  --sds-color-background-brand-default: rgba(32, 55, 122, 1);
  --sds-color-border-danger-secondary: rgba(191, 15, 12, 1);
  --sds-color-text-danger-on-danger: rgba(253, 232, 231, 1);
  --sds-color-icon-danger-on-danger: rgba(253, 232, 231, 1);
  --sds-color-background-brand-hover: rgba(20, 33, 75, 1);
  --sds-color-border-default-default: rgba(217, 217, 217, 1);
  --sds-color-background-default-default: rgba(255, 255, 255, 1);
  --sds-color-icon-brand-on-brand: rgba(239, 243, 255, 1);
  --sds-color-text-danger-on-danger-tertiary: rgba(143, 11, 9, 1);
  --sds-color-border-danger-tertiary: rgba(235, 34, 30, 1);
  --sds-color-background-default-secondary-hover: rgba(230, 230, 230, 1);
  --sds-color-border-danger-default: rgba(143, 11, 9, 1);
  --sds-color-background-danger-hover: rgba(191, 15, 12, 1);
  --sds-color-background-danger-tertiary: rgba(253, 232, 231, 1);
  --sds-color-text-disabled-on-disabled: rgba(157, 157, 157, 1);
  --sds-color-icon-danger-default: rgba(143, 11, 9, 1);
  --sds-color-icon-brand-default: rgba(32, 55, 122, 1);
  --sds-color-text-default-default: rgba(30, 30, 30, 1);
  --sds-color-background-default-default-hover: rgba(245, 245, 245, 1);
  --sds-color-border-brand-default: rgba(32, 55, 122, 1);
  --sds-color-icon-disabled-on-disabled: rgba(157, 157, 157, 1);
  --sds-color-icon-default-default: rgba(30, 30, 30, 1);
  --sds-color-text-neutral-default: rgba(48, 48, 48, 1);
  --sds-color-border-disabled-default: rgba(157, 157, 157, 1);
  --sds-color-text-disabled-default: rgba(157, 157, 157, 1);
  --sds-color-icon-danger-on-danger-secondary: rgba(143, 11, 9, 1);
  --sds-color-text-danger-default: rgba(143, 11, 9, 1);
  --sds-color-background-neutral-tertiary: rgba(227, 227, 227, 1);
  --sds-color-background-neutral-tertiary-hover: rgba(204, 204, 204, 1);
  --sds-color-background-danger-secondary: rgba(253, 210, 207, 1);
  --sds-color-background-danger-default: rgba(235, 34, 30, 1);
  --sds-color-background-disabled-default: rgba(217, 217, 217, 1);
  --sds-color-border-neutral-secondary: rgba(118, 118, 118, 1);
  --sds-color-background-default-secondary: rgba(245, 245, 245, 1);
  --sds-color-icon-disabled-default: rgba(157, 157, 157, 1);
  /* typographyPrimitives */
  --sds-typography-weight-thin: 100;
  --sds-typography-weight-extra-light: 200;
  --sds-typography-weight-light: 300;
  --sds-typography-weight-regular: 400;
  --sds-typography-weight-medium: 500;
  --sds-typography-weight-semibold: 600;
  --sds-typography-weight-bold: 700;
  --sds-typography-weight-extra-bold: 800;
  --sds-typography-weight-black: 900;
  --sds-typography-scale-10: 72;
  --sds-typography-scale-09: 64;
  --sds-typography-scale-08: 48;
  --sds-typography-scale-07: 40;
  --sds-typography-scale-06: 32;
  --sds-typography-scale-05: 24;
  --sds-typography-scale-04: 20;
  --sds-typography-scale-03: 16;
  --sds-typography-scale-02: 14;
  --sds-typography-scale-01: 12;
  --sds-typography-family-sans: Inter;
  --sds-typography-family-serif: Noto Serif;
  --sds-typography-family-mono: Roboto Mono;
  --sds-typography-weight-light-italic: Light Italic;
  --sds-typography-weight-regular-italic: Italic;
  --sds-typography-weight-bold-italic: Bold Italic;
  --sds-typography-weight-thin-italic: Thin Italic;
  --sds-typography-weight-extralight-italic: Extra Light Italic;
  --sds-typography-weight-medium-italic: Medium Italic;
  --sds-typography-weight-semibold-italic: Semi Bold Italic;
  --sds-typography-weight-extra-bold-italic: Extra Bold Italic;
  --sds-typography-weight-black-italic: Black Italic;
  /* typography */
  --sds-typography-title-page-font-family: Inter;
  --sds-typography-title-page-font-weight: 40;
  --sds-typography-title-page-size-small: 48;
  --sds-typography-subtitle-font-family: Inter;
  --sds-typography-subtitle-size-base: 24;
  --sds-typography-subtitle-font-weight: 32;
  --sds-typography-body-font-family: Inter;
  --sds-typography-body-size-medium: 14;
  --sds-typography-body-font-weight-regular: 16;
  --sds-typography-code-font-family: Roboto Mono;
  --sds-typography-code-size-base: 14;
  --sds-typography-code-font-weight: 16;
  --sds-typography-heading-font-family: Inter;
  --sds-typography-heading-size-base: 20;
  --sds-typography-heading-font-weight: 24;
  --sds-typography-title-hero-font-family: Inter;
  --sds-typography-title-hero-size: 72;
  --sds-typography-title-hero-font-weight: 700;
  --sds-typography-title-page-size-base: 64;
  --sds-typography-title-page-size-large: 700;
  --sds-typography-subtitle-size-large: 40;
  --sds-typography-subtitle-size-small: 400;
  --sds-typography-heading-size-large: 32;
  --sds-typography-heading-size-small: 600;
  --sds-typography-body-size-large: 20;
  --sds-typography-body-size-small: 400;
  --sds-typography-code-size-large: 20;
  --sds-typography-code-size-small: 400;
  --sds-typography-body-font-weight-strong: 600;
  --sds-typography-body-font-style-italic: Italic;
  --sds-typography-subheading-font-family: Inter;
  --sds-typography-subheading-size-small: 16;
  --sds-typography-subheading-size-medium: 24;
  --sds-typography-subheading-size-large: 24;
  --sds-typography-subheading-font-weight: 400;
  /* sizes */
  --sds-size-space-100: 4;
  --sds-size-space-200: 8;
  --sds-size-space-300: 12;
  --sds-size-space-400: 16;
  --sds-size-space-600: 24;
  --sds-size-space-negative-100: -4;
  --sds-size-space-negative-200: -8;
  --sds-size-space-negative-300: -12;
  --sds-size-space-negative-400: -16;
  --sds-size-space-negative-600: -24;
  --sds-size-radius-100: 4;
  --sds-size-radius-200: 8;
  --sds-size-radius-400: 16;
  --sds-size-depth-0: 0;
  --sds-size-depth-025: 1;
  --sds-size-depth-100: 4;
  --sds-size-depth-200: 8;
  --sds-size-depth-400: 16;
  --sds-size-depth-800: 32;
  --sds-size-depth-1200: 48;
  --sds-size-depth-negative-025: -1;
  --sds-size-depth-negative-100: -4;
  --sds-size-depth-negative-200: -8;
  --sds-size-depth-negative-400: -16;
  --sds-size-depth-negative-800: -32;
  --sds-size-depth-negative-1200: -48;
  --sds-size-radius-full: 9999;
  --sds-size-space-1600: 64;
  --sds-size-stroke-border: 1;
  --sds-size-stroke-focus-ring: 2;
  --sds-size-blur-100: 4;
  --sds-size-space-4000: 160;
  --sds-size-space-800: 32;
  --sds-size-space-1200: 48;
  --sds-size-space-2400: 96;
  --sds-size-space-0: 0;
  --sds-size-space-050: 2;
  --sds-size-space-150: 6;
  --sds-size-icon-small: 24;
  --sds-size-icon-medium: 32;
  --sds-size-icon-large: 40;
  /* responsive */
  --sds-responsive-device-width: 1200;
  --sds-responsive-root-font-size: 16;
  --sds-responsive-scale: 1;
  --sds-responsive-device: desktop;
}