/** Auto-generado por build-tokens-css.js */
:root {
  /* Color */
  --sds-color-text-brand-on-brand: #f0f3ff;
  --sds-color-border-default-secondary: #757575;
  --sds-color-background-danger-tertiary-hover: #fdd3d0;
  --sds-color-icon-danger-on-danger-tertiary: #900b09;
  --sds-color-background-brand-default: #20377a;
  --sds-color-border-danger-secondary: #c00f0c;
  --sds-color-text-danger-on-danger: #fee9e7;
  --sds-color-icon-danger-on-danger: #fee9e7;
  --sds-color-background-brand-hover: #14214b;
  --sds-color-border-default-default: #d9d9d9;
  --sds-color-background-default-default: #ffffff;
  --sds-color-icon-brand-on-brand: #f0f3ff;
  --sds-color-text-danger-on-danger-tertiary: #900b09;
  --sds-color-border-danger-tertiary: #ec221f;
  --sds-color-background-default-secondary-hover: #e6e6e6;
  --sds-color-border-danger-default: #900b09;
  --sds-color-background-danger-hover: #c00f0c;
  --sds-color-background-danger-tertiary: #fee9e7;
  --sds-color-text-disabled-on-disabled: #9d9d9d;
  --sds-color-icon-danger-default: #900b09;
  --sds-color-icon-brand-default: #20377a;
  --sds-color-text-default-default: #1e1e1e;
  --sds-color-background-default-default-hover: #f5f5f5;
  --sds-color-border-brand-default: #20377a;
  --sds-color-icon-disabled-on-disabled: #9d9d9d;
  --sds-color-icon-default-default: #1e1e1e;
  --sds-color-text-neutral-default: #303030;
  --sds-color-border-disabled-default: #9d9d9d;
  --sds-color-text-disabled-default: #9d9d9d;
  --sds-color-icon-danger-on-danger-secondary: #900b09;
  --sds-color-text-danger-default: #900b09;
  --sds-color-background-neutral-tertiary: #e3e3e3;
  --sds-color-background-neutral-tertiary-hover: #cdcdcd;
  --sds-color-background-danger-secondary: #fdd3d0;
  --sds-color-background-danger-default: #ec221f;
  --sds-color-background-disabled-default: #dadada;
  --sds-color-border-neutral-secondary: #767676;
  --sds-color-background-default-secondary: #f5f5f5;
  --sds-color-icon-disabled-default: #9d9d9d;
  --sds-background-brand-secondary-hover: #bcc8ed;
  --sds-color-background-utilities-overlay: #00000080;
  --sds-color-text-default-tertiary: #b3b3b3;
  --sds-color-text-default-secondary: #757575;
  --sds-color-text-neutral-on-neutral: #f3f3f3;
  --sds-color-text-neutral-on-neutral-tertiary: #434343;
  --sds-color-text-neutral-on-neutral-secondary: #303030;
  --sds-color-text-neutral-tertiary: #767676;
  --sds-color-text-neutral-secondary: #5a5a5a;
  --sds-color-text-brand-on-brand-tertiary: #20377a;
  --sds-color-text-brand-on-brand-secondary: #14214b;
  --sds-color-text-brand-tertiary: #20377a;
  --sds-color-text-brand-secondary: #1b2e68;
  --sds-color-text-brand-default: #20377a;
  --sds-color-text-positive-on-positive-tertiary: #02542d;
  --sds-color-text-positive-on-positive-secondary: #02542d;
  --sds-color-text-positive-default: #02542d;
  --sds-color-text-positive-on-positive: #ebffee;
  --sds-color-text-positive-tertiary: #14ae5c;
  --sds-color-text-positive-secondary: #009951;
  --sds-color-text-warning-on-warning-tertiary: #522504;
  --sds-color-text-warning-default: #522504;
  --sds-color-text-warning-on-warning-secondary: #682d03;
  --sds-color-text-warning-on-warning: #401b01;
  --sds-color-text-warning-tertiary: #bf6a02;
  --sds-color-text-warning-secondary: #975102;
  --sds-color-text-danger-tertiary: #ec221f;
  --sds-color-text-danger-secondary: #c00f0c;
  --sds-color-text-danger-on-danger-secondary: #900b09;
  --sds-color-text-utilities-text-on-measurement: #8a226f;
  --sds-color-text-utilities-text-on-overlay: #0c0c0d;
  --sds-color-background-default-tertiary: #d9d9d9;
  --sds-color-background-default-tertiary-hover: #b3b3b3;
  --sds-color-background-neutral-secondary: #cdcdcd;
  --sds-color-background-neutral-secondary-hover: #b2b2b2;
  --sds-color-background-neutral-hover: #434343;
  --sds-color-background-neutral-default: #5a5a5a;
  --sds-color-background-brand-tertiary-hover: #ffffff;
  --sds-color-background-brand-tertiary: #f0f3ff;
  --sds-color-background-brand-secondary: #ffffff;
  --sds-color-background-positive-tertiary-hover: #cff7d3;
  --sds-color-background-positive-secondary-hover: #aff4c6;
  --sds-color-background-positive-hover: #009951;
  --sds-color-background-positive-tertiary: #ebffee;
  --sds-color-background-positive-secondary: #cff7d3;
  --sds-color-background-positive-default: #14ae5c;
  --sds-color-background-warning-tertiary-hover: #fff1c2;
  --sds-color-background-warning-hover: #e5a000;
  --sds-color-background-warning-tertiary: #fffbeb;
  --sds-color-background-warning-secondary-hover: #ffe8a3;
  --sds-color-background-warning-secondary: #fff1c2;
  --sds-color-background-warning-default: #e8b931;
  --sds-color-background-utilities-measurement: #fae1fa;
  --sds-color-background-utilities-blanket: #000000b2;
  --sds-color-background-utilities-scrim: #ffffffcc;
  --sds-color-border-default-tertiary: #383838;
  --sds-color-border-neutral-tertiary: #b2b2b2;
  --sds-color-border-neutral-default: #303030;
  --sds-color-border-brand-secondary: #1b2e68;
  --sds-color-border-brand-tertiary: #20377a;
  --sds-color-border-positive-tertiary: #14ae5c;
  --sds-color-border-positive-secondary: #009951;
  --sds-color-border-positive-default: #02542d;
  --sds-color-border-warning-tertiary: #bf6a02;
  --sds-color-border-warning-secondary: #975102;
  --sds-color-border-warning-default: #522504;
  --sds-color-border-utilities-swatch: #0000003d;
  --sds-color-border-utilities-measurement: #f19edc;
  --sds-color-icon-default-tertiary: #b3b3b3;
  --sds-color-icon-default-secondary: #757575;
  --sds-color-icon-neutral-on-neutral-tertiary: #434343;
  --sds-color-icon-neutral-on-neutral: #f3f3f3;
  --sds-color-icon-neutral-tertiary: #767676;
  --sds-color-icon-neutral-secondary: #5a5a5a;
  --sds-color-icon-neutral-on-neutral-secondary: #303030;
  --sds-color-icon-neutral-default: #303030;
  --sds-color-icon-brand-on-brand-tertiary: #20377a;
  --sds-color-icon-brand-tertiary: #20377a;
  --sds-color-icon-brand-on-brand-secondary: #14214b;
  --sds-color-icon-brand-secondary: #1b2e68;
  --sds-color-icon-positive-on-positive-tertiary: #024023;
  --sds-color-icon-positive-on-positive: #ebffee;
  --sds-color-icon-positive-tertiary: #14ae5c;
  --sds-color-icon-positive-default: #02542d;
  --sds-color-icon-positive-secondary: #009951;
  --sds-color-icon-positive-on-positive-secondary: #02542d;
  --sds-color-icon-warning-tertiary: #bf6a02;
  --sds-color-icon-warning-on-warning-tertiary: #522504;
  --sds-color-icon-warning-secondary: #975102;
  --sds-color-icon-warning-default: #522504;
  --sds-color-icon-warning-on-warning-secondary: #682d03;
  --sds-color-icon-warning-on-warning: #401b01;
  --sds-color-icon-danger-tertiary: #ec221f;
  --sds-color-icon-danger-secondary: #c00f0c;
  --sds-color-icon-utilities-icon-on-measurement: #8a226f;
  --sds-color-icon-utilities-icon: #d732a8;

  /* Color Primitives */
  --sds-color-slate-100: #f3f3f3;
  --sds-color-slate-200: #e3e3e3;
  --sds-color-slate-300: #cdcdcd;
  --sds-color-slate-400: #b2b2b2;
  --sds-color-slate-500: #949494;
  --sds-color-slate-600: #767676;
  --sds-color-slate-700: #5a5a5a;
  --sds-color-slate-800: #434343;
  --sds-color-slate-900: #303030;
  --sds-color-slate-1000: #242424;
  --sds-color-white-100: #ffffff0d;
  --sds-color-white-200: #ffffff1a;
  --sds-color-white-300: #ffffff33;
  --sds-color-white-400: #ffffff66;
  --sds-color-white-500: #ffffffb2;
  --sds-color-white-600: #ffffffcc;
  --sds-color-white-700: #ffffffd9;
  --sds-color-white-800: #ffffffe5;
  --sds-color-white-900: #fffffff2;
  --sds-color-white-1000: #ffffff;
  --sds-color-brand-100: #bcc8ed;
  --sds-color-brand-200: #a6b6e8;
  --sds-color-brand-300: #889ee0;
  --sds-color-brand-400: #607ed5;
  --sds-color-brand-500: #3356c0;
  --sds-color-brand-600: #20377a;
  --sds-color-brand-700: #1b2e68;
  --sds-color-brand-800: #172758;
  --sds-color-brand-900: #14214b;
  --sds-color-brand-1000: #111c40;
  --sds-color-red-100: #fee9e7;
  --sds-color-red-200: #fdd3d0;
  --sds-color-red-300: #fcb3ad;
  --sds-color-red-400: #f4776a;
  --sds-color-red-500: #ec221f;
  --sds-color-red-600: #c00f0c;
  --sds-color-red-700: #900b09;
  --sds-color-red-800: #690807;
  --sds-color-red-900: #4d0b0a;
  --sds-color-red-1000: #300603;
  --sds-color-yellow-100: #fffbeb;
  --sds-color-yellow-200: #fff1c2;
  --sds-color-yellow-300: #ffe8a3;
  --sds-color-yellow-400: #e8b931;
  --sds-color-yellow-500: #e5a000;
  --sds-color-yellow-600: #bf6a02;
  --sds-color-yellow-700: #975102;
  --sds-color-yellow-800: #682d03;
  --sds-color-yellow-900: #522504;
  --sds-color-yellow-1000: #401b01;
  --sds-color-green-100: #ebffee;
  --sds-color-green-200: #cff7d3;
  --sds-color-green-300: #aff4c6;
  --sds-color-green-400: #85e0a3;
  --sds-color-green-500: #14ae5c;
  --sds-color-green-600: #009951;
  --sds-color-green-700: #008043;
  --sds-color-green-800: #02542d;
  --sds-color-green-900: #024023;
  --sds-color-green-1000: #062d1b;
  --sds-color-black-100: #0c0c0d0d;
  --sds-color-black-200: #0c0c0d1a;
  --sds-color-black-300: #0c0c0d33;
  --sds-color-black-400: #0c0c0d66;
  --sds-color-black-500: #0c0c0db2;
  --sds-color-black-600: #0c0c0dcc;
  --sds-color-black-700: #0c0c0dd9;
  --sds-color-black-800: #0c0c0de5;
  --sds-color-black-900: #0c0c0df2;
  --sds-color-black-1000: #0c0c0d;
  --sds-color-pink-100: #fcf1fd;
  --sds-color-pink-200: #fae1fa;
  --sds-color-pink-300: #f5c0ef;
  --sds-color-pink-400: #f19edc;
  --sds-color-pink-500: #ea3fb8;
  --sds-color-pink-600: #d732a8;
  --sds-color-pink-700: #ba2a92;
  --sds-color-pink-800: #8a226f;
  --sds-color-pink-900: #57184a;
  --sds-color-pink-1000: #3f1536;
  --sds-color-gray-100: #f5f5f5;
  --sds-color-gray-200: #e6e6e6;
  --sds-color-gray-300: #d9d9d9;
  --sds-color-gray-400: #b3b3b3;
  --sds-color-gray-500: #757575;
  --sds-color-gray-600: #444444;
  --sds-color-gray-700: #383838;
  --sds-color-gray-800: #2c2c2c;
  --sds-color-gray-900: #1e1e1e;
  --sds-color-gray-1000: #111111;

  /* Responsive */
  --sds-device-width: 1200px;
  --sds-root-font-size: 1rem;
  --sds-scale: 1px;

  /* Size */
  --sds-space-100: 4px;
  --sds-space-200: 8px;
  --sds-space-300: 12px;
  --sds-space-400: 16px;
  --sds-space-600: 24px;
  --sds-space-negative-100: -4px;
  --sds-space-negative-200: -8px;
  --sds-space-negative-300: -12px;
  --sds-space-negative-400: -16px;
  --sds-space-negative-600: -24px;
  --sds-radius-100: 4px;
  --sds-radius-200: 8px;
  --sds-radius-400: 16px;
  --sds-depth-0: 0px;
  --sds-depth-025: 1px;
  --sds-depth-100: 4px;
  --sds-depth-200: 8px;
  --sds-depth-400: 16px;
  --sds-depth-800: 32px;
  --sds-depth-1200: 48px;
  --sds-depth-negative-025: -1px;
  --sds-depth-negative-100: -4px;
  --sds-depth-negative-200: -8px;
  --sds-depth-negative-400: -16px;
  --sds-depth-negative-800: -32px;
  --sds-depth-negative-1200: -48px;
  --sds-radius-full: 9999px;
  --sds-space-1600: 64px;
  --sds-stroke-border: 1px;
  --sds-stroke-focus-ring: 2px;
  --sds-blur-100: 4px;
  --sds-space-4000: 160px;
  --sds-space-800: 32px;
  --sds-space-1200: 48px;
  --sds-space-2400: 96px;
  --sds-space-0: 0px;
  --sds-space-050: 2px;
  --sds-space-150: 6px;
  --sds-icon-small: 24px;
  --sds-icon-medium: 32px;
  --sds-icon-large: 40px;

  /* Typography */
  --sds-title-page-font-weight: 40;
  --sds-title-page-size-small: 48px;
  --sds-subtitle-size-base: 24px;
  --sds-subtitle-font-weight: 32;
  --sds-body-size-medium: 14px;
  --sds-body-font-weight-regular: 16;
  --sds-code-size-base: 14px;
  --sds-code-font-weight: 16;
  --sds-heading-size-base: 20px;
  --sds-heading-font-weight: 24;
  --sds-title-hero-size: 72px;
  --sds-title-hero-font-weight: 700;
  --sds-title-page-size-base: 64px;
  --sds-title-page-size-large: 700px;
  --sds-subtitle-size-large: 40px;
  --sds-subtitle-size-small: 400px;
  --sds-heading-size-large: 32px;
  --sds-heading-size-small: 600px;
  --sds-body-size-large: 20px;
  --sds-body-size-small: 400px;
  --sds-code-size-large: 20px;
  --sds-code-size-small: 400px;
  --sds-body-font-weight-strong: 600;
  --sds-subheading-size-small: 16px;
  --sds-subheading-size-medium: 24px;
  --sds-subheading-size-large: 24px;
  --sds-subheading-font-weight: 400;

  /* Typography Primitives */
  --sds-weight-thin: 100;
  --sds-weight-extra-light: 200;
  --sds-weight-light: 300;
  --sds-weight-regular: 400;
  --sds-weight-medium: 500;
  --sds-weight-semibold: 600;
  --sds-weight-bold: 700;
  --sds-weight-extra-bold: 800;
  --sds-weight-black: 900;
  --sds-scale-10: 72px;
  --sds-scale-09: 64px;
  --sds-scale-08: 48px;
  --sds-scale-07: 40px;
  --sds-scale-06: 32px;
  --sds-scale-05: 24px;
  --sds-scale-04: 20px;
  --sds-scale-03: 16px;
  --sds-scale-02: 14px;
  --sds-scale-01: 12px;

}