.menu-heading,
.menu-heading * {
  box-sizing: border-box;
}

.menu-heading {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-xs, 4px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 284px;
  position: relative;
}

.text-strong {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.text-strong2 {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
}
