.menu-separator,
.menu-separator * {
  box-sizing: border-box;
}

.menu-separator {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 284px;
  position: relative;
}

.rule {
  background: var(--var-sds-color-border-default-default, #d9d9d9);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
