.textarea-field,
.textarea-field * {
  box-sizing: border-box;
}
.textarea-field {
  display: flex;
  flex-direction: column;
  gap: var(--sds-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.label {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.textarea {
  background: var(--sds-color-background-default-default, #ffffff);
  border-radius: var(--sds-radius-200, 8px);
  border-style: solid;
  border-color: var(--sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--sds-space-300, 12px) var(--sds-space-400, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 240px;
  min-height: 80px;
  position: relative;
  overflow: hidden;
}
.valueTextField {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  min-height: 56px;
}
.drag {
  flex-shrink: 0;
  width: 6.63px;
  height: 6.63px;
  position: absolute;
  right: 5.02px;
  bottom: 6.02px;
  overflow: visible;
  pointer-events: none;
}
.textarea-field.state-default.value-type-placeholder .valueTextField,
.textarea-field.state-error.value-type-placeholder .valueTextField {
  color: var(--sds-color-text-default-tertiary, #b3b3b3);
}
.textarea-field.state-error .textarea {
  border-color: var(--sds-color-border-danger-default, #900b09);
}
.textarea-field.state-disabled .label,
.textarea-field.state-disabled .valueTextField {
  color: var(--sds-color-text-disabled-default, #9d9d9d);
}
.textarea-field.state-disabled .textarea {
  background: var(--sds-color-background-disabled-default, #dadada);
  border-color: var(--sds-color-border-neutral-tertiary, #b2b2b2);
}
