/* src/components/AdminDashboard/AdminLayout.css */
.admin-layout {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  position: absolute;
  top: 0;
  left: 0;
}

.admin-layout__content {
  flex: 1;
  padding: var(--sds-space-400, 16px);
  overflow-y: auto;
  background-color: var(--sds-color-background-default-secondary, #f5f5f5);
}
