.tab-group-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-group-header {
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow-x: auto;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--sds-color-border-neutral-tertiary, #b2b2b2);
}

.tab-group-content {
  padding: var(--sds-size-space-400, 16px);
  background-color: var(--sds-color-background-default-default, #ffffff);
}
