.adminConveniosRoot {
  display: flex;
  min-height: 100vh;
  background: var(--Background-Default-Default, #fff);
}

.adminConveniosContent {
  flex: 1;
  padding: 32px 0 0 0;
  min-width: 0;
}

.adminConveniosPageHeader {
  width: 1042px;
  margin-left: 32px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Border-Default-Default, #D9D9D9);
}

.adminConveniosMenuHeader {
  padding: 8px 16px 4px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.adminConveniosTitle {
  color: var(--Text-Default-Default, #1E1E1E);
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 22.4px;
}

.adminConveniosButton {
  padding: 12px;
  background: var(--Background-Brand-Default, #20377A);
  border-radius: 8px;
  outline: 1px solid var(--Border-Brand-Default, #20377A);
  outline-offset: -1px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Text-Brand-On-Brand, #F0F3FF);
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22.4px;
}

.adminConveniosFilterBar {
  width: 1042px;
  margin-left: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminConveniosSearchFilter {
  width: 327px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.adminConveniosTagToggleGroup {
  display: flex;
  gap: 8px;
}

.adminConveniosCheckboxField {
  display: flex;
  align-items: center;
  gap: 12px;
}

.adminConveniosBody {
  width: 1042px;
  min-width: 160px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: center;
}

.adminConveniosEmptyText {
  color: var(--Text-Default-Secondary, #757575);
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  width: 100%;
}
