/* Estilos base para todos los textos */
.text-small,
.text-small *,
.text-code,
.text-code *,
.text-strong,
.text-strong *,
.text-link,
.text-link *,
.text-emphasis,
.text-emphasis *,
.text,
.text *,
.text-subheading,
.text-subheading *,
.text-heading,
.text-heading *,
.text-subtitle,
.text-subtitle *,
.text-title-page,
.text-title-page *,
.text-title-hero,
.text-title-hero *,
.text-list-item,
.text-list-item *,
.text-link-list-item,
.text-link-list-item *,
.text-content-heading,
.text-content-heading *,
.text-price,
.text-price *,
.text-link-list,
.text-link-list *,
.text-list,
.text-list * {
  box-sizing: border-box;
}

/* Text Small */
.text-small {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-small2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-small-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-small-font-size, 14px);
  line-height: var(--body-small-line-height, 140%);
  font-weight: var(--body-small-font-weight, 400);
  position: relative;
}

/* Text Code */
.text-code {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-code2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-code-font-family, "RobotoMono-Regular", sans-serif);
  font-size: var(--body-code-font-size, 16px);
  line-height: var(--body-code-line-height, 100%);
  font-weight: var(--body-code-font-weight, 400);
  position: relative;
}

/* Text Strong */
.text-strong {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-strong2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
}

/* Text Link */
.text-link {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-link2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-link-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-link-font-size, 16px);
  line-height: var(--body-link-line-height, 140%);
  font-weight: var(--body-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}

/* Text Emphasis */
.text-emphasis {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-emphasis2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-emphasis-font-family, "Inter-Italic", sans-serif);
  font-size: var(--body-emphasis-font-size, 16px);
  line-height: var(--body-emphasis-line-height, 140%);
  font-weight: var(--body-emphasis-font-weight, 400);
  font-style: var(--body-emphasis-font-style, italic);
  position: relative;
}

/* Text Base */
.text {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
}

/* Text Subheading */
.text-subheading {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-subheading2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 20px);
  line-height: var(--subheading-line-height, 120%);
  font-weight: var(--subheading-font-weight, 400);
  position: relative;
}

/* Text Heading */
.text-heading {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-heading2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
}

/* Text Subtitle */
.text-subtitle {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-subtitle2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--subtitle-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 32px);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
  position: relative;
}

/* Text Title Page */
.text-title-page {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-title-page2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--title-page-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-page-font-size, 48px);
  line-height: var(--title-page-line-height, 120%);
  letter-spacing: var(--title-page-letter-spacing, -0.02em);
  font-weight: var(--title-page-font-weight, 700);
  position: relative;
}

/* Text Title Hero */
.text-title-hero {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-title-hero2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--title-hero-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-hero-font-size, 72px);
  line-height: var(--title-hero-line-height, 120%);
  letter-spacing: var(--title-hero-letter-spacing, -0.03em);
  font-weight: var(--title-hero-font-weight, 700);
  position: relative;
}

/* Text List Item */
.text-list-item {
  width: 89px;
  height: 22px;
}

.list-item {
  color: var(--sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Text Link List Item */
.text-link-list-item {
  width: 89px;
  height: 22px;
}

.list-item2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  right: 26.97%;
  left: 0%;
  width: 73.03%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* TextContentHeading Component */
.text-content-heading {
  display: flex;
  flex-direction: column;
  gap: var(--sds-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.text-content-heading .heading {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
  align-self: stretch;
}

.text-content-heading .subheading {
  color: var(--sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 20px);
  line-height: var(--subheading-line-height, 120%);
  font-weight: var(--subheading-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* variant styles */
.text-content-heading.align-center {
  align-items: center;
}

.text-content-heading.align-center .heading {
  text-align: center;
}

.text-content-heading.align-center .subheading {
  text-align: center;
  justify-content: center;
}

/* TextPrice Component */
.text-price {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.text-price .price {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.text-price .div {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--title-page-font-family, "Inter-Bold", sans-serif);
  font-size: var(--subtitle-font-size, 24px);
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: var(--title-page-font-weight, 700);
  position: relative;
}

.text-price ._50 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--title-page-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-page-font-size, 48px);
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: var(--title-page-font-weight, 700);
  position: relative;
}

.text-price .mo {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-small-font-size, 14px);
  line-height: 180%;
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
}

/* variant styles */
.text-price.size-small .div {
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  font-weight: var(--body-strong-font-weight, 600);
}

.text-price.size-small ._50 {
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  font-weight: var(--heading-font-weight, 600);
}

.text-price.size-small .mo {
  line-height: 120%;
}

/* TextLinkList Component */
.text-link-list {
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.text-link-list .title {
  padding: 0px 0px var(--sds-size-space-400, 16px) 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text-link-list .text-strong {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text-link-list .text-strong2 {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
}

.text-link-list .text-link-list-item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.text-link-list .list-item {
  color: var(--sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* TextLinkList variant styles */
.text-link-list.density-tight {
  gap: var(--sds-size-space-200, 8px);
}

.text-link-list.density-tight .title {
  padding: 0px 0px var(--sds-size-space-100, 4px) 0px;
}

/* TextList Component */
.text-list {
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.text-list .text-list-item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.text-list .list-item {
  color: var(--sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-list .list-item-span {
  margin: 0;
  padding: 0 0 0 20px;
  width: 100%;
}

.text-list .list-item-span li {
  margin: 0;
  padding: 0;
}

/* TextList variant styles */
.text-list.density-tight {
  gap: var(--sds-size-space-200, 8px);
}
